

/* MENU */
#logo > h1 {
    margin-top: 0px;
  top: 100%;
}
#logo a img {
  float: left;
  width: auto;
  margin-top:0px;
  margin-top: -30px;
}
.content{
  padding:30px 0 60px;
  position: relative;
}
.sub_content{
  margin-bottom:30px;
}

/*                   MENU   */
.menu{

   font-family: 'PT Sans Narrow', sans-serif;
    background-color: #EE9A49;
    background-image:;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    height: 130px;

}







/*FIM MENU*/
nav {
  font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 4px;
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 97%;
    float: left;
}
nav ul {
  text-align: center;
    margin: 0;
    padding: 30;
}
 
    nav ul li {
    text-align: center;
        display: inline-block;
        list-style-type: none;
        font-size: 26px;
 
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
 
        nav > ul > li > a {
          font-size: 35px;
            color: #4169E1;
            display: block;
            line-height: 56px;
            padding: 0 25px;
            text-decoration: none;
        }
    nav > ul > li > a > .caret {
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 100%;
    vertical-align: middle;
 
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
      transition: color 0.1s linear;
}

nav > ul > li:hover {
  background-color: #FFA500

;
}
 
nav > ul > li:hover > a {
  color: #fff;
}
 
nav > ul > li:hover > a > .caret {
  border-top-color: #fff;
}

nav > ul > li > div {
    background-color: rgb( 40, 44, 47 );
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: relative;
    width: 100%;
    visibility: hidden;
    z-index: 100;
 
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
 
    nav > ul > li > div ul > li {
        display: block;
    }
 
        nav > ul > li > div ul > li > a {
            color: #fff;
            display: block;
            padding: 12px 24px;
            text-decoration: none;
        }
 
    nav > ul > li > div ul > li:hover > a {
        background-color: #4682B4;
    }
  
  nav > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}


/* resets */
body { 
  margin:0px; padding:0px; 
}

/* main */
header {

    z-index: 10;
}
.header-banner {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #FFA500;
    background-image:;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    height: 50px;

  
}
.carousel {
    position: relative;
    z-index: -9;

}


############################## ion icons ###########################3
ion-icon {
  font-size: 20px;
}

* {
  font-size: 16px;
  text-align:center-left;
}


i,
span {
  
   margin-left: 20px;
     font-size: 20px;
}

h5,h3 {
  font-size: 24px;
   display: inline-block; 
    line-height: 2;
    margin-left: 25px;
  
}

######## header h1 {
######  background-color: rgba(18,72,120, 0.8);
######    color: #fff;
######    position: absolute;
######    top: 2rem; 
######    left: 2rem;
######}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

/* texto sobre imagem */


.carousel-item h3{
text-align: 40px;
font-size: 80px;
 font-family: 'PT Sans Narrow', sans-serif;

}

.carousel-item p{

font-size: 40px;
font-family: 'PT Sans Narrow', sans-serif;
/* line-height: 40; */

}


 /* NEWSLETTER */

  .newsletter{
    width: 100%;
    height: 20vh;
    background-color: #FFF;
    display: flex;
}

 .newsletter .newsletter-content{
    width: 94%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


 .newsletter .title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    background-color: white;
    height: 20vh;
    position: relative;
}

 .newsletter .title:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -40px;
    display: block;
    width: 80px;
    background: white;
    transform: skew(-20deg);

 }

 .newsletter .title p{
  font-family: 'PT Sans Narrow', sans-serif;
    font-size:  35px;
    font-weight: 500;
    line-height: 1.1em;
    text-align: center;
    color: #FFA500;
    z-index:9999;
}
 .newsletter .form{
    background-color: #4682B4;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


 .newsletter .form form {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

 .newsletter .form .label{
    width: 94%;
}

 .newsletter .form .label input {
    width: 100%;
    padding: 20px;
    outline: none;
}

 .newsletter .form .label-send{
    display: flex;
    width: 59px;
    height: 59px;
    align-items: center;
    justify-content: center;
    background-color: #FFA500;


 }

 .newsletter .form .label-send a i{
    color: white;
    font-size: 25pt;
    margin: 0;
}





/* FOOTER*/


.footer_bottom{
  font-family: 'PT Sans Narrow', sans-serif;
  background:#fff;
  padding:20px 0;
  color:#000;
  position: center;
  
  
}
.copyright {

    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
     font-size: 18x;
    line-height: 40px;
    margin: 0;
}
.copyright a{
  color:#000;
  text-decoration:none;
}
.copyright a:hover{
  color:#000;
}



.carousel-caption{
  top:25%;
}


/*  SOBRE */
.sobre{


    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #CDCDB4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    height: 100%;


}

.sobre h2{
  color:#FFA500;
    text-align: center;
  padding-top: 50px;
    padding-bottom: 10px;
    font-size: 50px;


  
}
.sobre p{
color:#363636;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
    font-size: 25px;

}
hr{
      border-color: #FFA500;
  box-sizing:border-box;
  width:50%;  
}

.container{
  text-align: center;
}

.sobre .container div {
  background: white;
    padding-top: 10px;
    /* padding-bottom: 200px; */
    position: relative;
    display: inline-block;
  height: 300px;
    width: 320px;
    overflow: hidden;
    border-radius: 10px;
    margin: 60px 15px;
    transition: 0.7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: 0 50px 150px -20px rgba(0, 0, 0, 0);
}

.sobre .container #box-meio{
  background: url('../img/slider/1.png');
  background-size: cover;
}
.container div {
  background: #fff;
    padding-top: 10px;
    /* padding-bottom: 200px; */
    position: relative;
    display: inline-block;
  height: 300px;
    width: 320px;
    overflow: hidden;
    border-radius: 10px;
    margin: 60px 15px;
    transition: 0.7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: 0 50px 150px -20px rgba(0, 0, 0, 0);
}
.container div img {
  width: 150%;
  margin: -25% -25%;
  min-height: 100%;
  transition: 0.7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.container div span {
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-family: Arial;
  color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  transition: 0.8s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.container div:before {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 400px;
  transform: rotate(30deg);
  top: -40px;
  left: -200px;
  transition: 1s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.container div:hover {
  cursor: pointer;
  transform: scale(1.2);
  border-radius: 10px;
  box-shadow: 0 20px 300px -20px black;
}
.container div:hover:before {
  content: '';
  left: 350px;
}
.container div:hover img {
  width: 100%;
  margin: 0;
  min-height: 100%;
}
.container div:hover span {
  color: rgba(255, 255, 255, 0.8);
  bottom: 20px;
}
.sobre .container h3{
    background-image: url (img/slider/sobre.png); 
 
    color: #ff8e02;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 30px
}


/* CONTATO */
#contato{
  float:left;
  width:100%;
}

.contato {
    font-family: 'Roboto Condensed', sans-serif;
   width:100%;
  float:left; 
  background-color: #CDCDB4;
  color: #4F4F4F;
  text-align: center;
}
.contato h2 {
  padding-top: 50px;
  padding-bottom: 50px;
    font-size: 40px;

  
}
.contato h3{
  
 padding-top: 200px;
}
.contato p {
  padding: 20px 80px;
}

/* FORMULÁRIO CONTATO */

.contato .formContato {
   width: 90%; 
   height: 100%;
    top: 0em;   
}  
.formContato input {  
   width: 90%;  
   margin-left: 10px;  
   margin-right: 10px;  
}  
.formContato textarea {  
   width: 90%;  
    margin-left: 11px;
   margin-right: 10px;  
}  
.botaoContato {  
      margin-left: 109px;
    margin-right: 10px; 
   margin-top: 1px;  
}  
.pgContato input {  
    padding-left: 11px;
   color: #292929;  
   font-size: 25px;  
   background-color: #E9E9E9;  
   border: 1px solid #E9E9E9;  
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;  
   height: 60px;  
   width: 100%;
   margin-bottom: 20px;  
   border-bottom: 1px solid #ccc;  
   border-left: 1px solid #ccc;  
}  
.pgContato textarea {  
   padding-left: 20px;  
   color: #292929;  
   font-size: 25px;  
   background-color: #E9E9E9;  
   border: 1px solid #E9E9E9;  
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;  
      height: 297px;
    width: 100%;
   margin-bottom: 20px;  
   border-bottom: 1px solid #ccc;  
   border-left: 1px solid #ccc;  
}  
.botaoContato {  
   border-radius: 4px;  
   color: #fff;  
   padding: 0px 70px;
   height: 40px;  
   margin-top: 18px;  
   opacity: 0.9;  
   margin-bottom: 20px;  
   cursor: pointer;  
   background: #0000FF ;  
   display: inline-block;  
   border: none;  
   border-bottom: 1px solid #500707;  
   border-right: 1px solid #500707;
       font-size: 26px;  
}  
.botaoContato:hover {  
   opacity: 1.0;  
   transition: 1s;  
}

   /* EQUIPAMENTOS */
.equipamentos{
    font-family: 'Roboto Condensed', sans-serif;
   width:100%;
   height: 100%;
  float:left; 
  background-color: #CDCDB4;
  color: #4F4F4F;
  text-align: center;
}

.equipamentos h1{
  color:#FFA500;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 50px;
}
/**/




.card {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  z-index: 99;
}

.card-1 {
  transition: 0.3s ease-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 
}

.card-1:hover {
  transform: scale(1.2);
    transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    transition: 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-2:hover {
  transform: scale(1.2);
    transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-3 {

    transition: 0.3s ease-out;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-3:hover {
   transform: scale(1.2);
    transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-4 {
    transition: 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-4:hover {
   transform: scale(1.2);
    transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-5 {
    transition: 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-5:hover {
   transform: scale(1.2);
    transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-6 {
    transition: 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-6:hover { 
   transform: scale(1.2);
 transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-7 {
    transition: 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-7:hover {
   transform: scale(1.2);
    transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-8 {
    transition: 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-8:hover {
   transform: scale(1.2);
    transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-9 {
      transition: 0.3s ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-9:hover {
   transform: scale(1.2);
      transition: 0.3s ease-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* NOTÍCIAS*/

.noticias{
 font-family: 'Roboto Condensed', sans-serif;
   width:100%;
  float:left; 
  background-color: #CDCDB4;
  color: #4F4F4F;
  text-align: center;
}
.noticias h2{
 color:#FFA500;
    text-align: center;
  padding-top: 50px;
    padding-bottom: 10px;
    font-size: 50px;


  
}

.containernoticia {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 30px;
}

.containernoticia .grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.containernoticia .col {
  display: flex;
  padding: 0 15px;
  width: 100%;
}

@media all and (min-width: 60em) {
 .containernoticia .col-1 {
    width: 12%;
  }

 .containernoticia .col-2 {
    width: 16.66666667%;
  }

 .containernoticia .col-3 {
    width: 25%;
  }

 .containernoticia .col-4 {
    width: 33.33%;
  }

 .containernoticia .col-5 {
    width: 41.66666667%;
  }

  .containernoticia .col-6 {
    width: 50%;
  }

 .containernoticia .col-7 {
    width: 58.33333333%;
  }

  .containernoticia .col-8 {
    width: 66.66666667%;
  }

  .containernoticia .col-9 {
    width: 75;
  }

 .containernoticia .col-10 {
    width: 83.33333333%;
  }

 .containernoticia .col-11 {
    width: 91.66666667%;
  }

 .containernoticia .col-12 {
    width: 100%;
  }
}
.containernoticia .grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.containernoticia .grid-item img {
  width: 100%;
  display: block;
}

.containernoticia .grid-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem;
}
.containernoticia .grid-item-content .heading {
  margin: 2rem 0 3rem;
  font-size: 3.2rem;
}

.containernoticia .flex-spacer {
  flex-grow: 1;
}

.containernoticia .meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containernoticia .meta li {
  margin-right: 1.2rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  color: #999;
}
.containernoticia.meta li:last-of-type {
  margin-right: 0;
}




/* FOOTER*/


.footer_bottom{
   font-family: 'Roboto Condensed', sans-serif;
  background:#FFA500;
  padding:20px 0;
  color:#4169E1;
  float: left;
  width: 100%;
  height: 120px;

}
  .footer_bottom p{
text-align: left;
color:#fff;
font-size: 30px;
  }
  
}
.copyright {
    color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    line-height: 40px;
    margin: 0;
}
.copyright a{
  color:#4169E1;
  text-decoration:none;
}
.copyright a:hover{
  color:#4169E1;
}
